<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ApList</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>

<!--顶部导航栏-->
<div th:replace="~{common::topbar}"></div>

<div class="container-fluid">
    <div class="row">

        <!--侧边栏-->
        <div th:replace="~{common::sidebar(active='ap')}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="align-items-center pt-3 border-bottom">
                <p>
                    <a th:href="@{/toInsertAp}" class="btn btn-sm btn-success"
                       sec:authorize="hasRole('admin')">添加奖惩信息</a>
                    <a th:href="@{/exportAp}" class="btn btn-sm btn-success">导出奖惩信息</a>
                    <a th:href="@{/importAp}" class="btn btn-sm btn-success"
                       sec:authorize="hasRole('admin')">导入奖惩信息</a>
                </p>
                <p th:text="${errorMsg}" style="color: red"></p>
                <p th:text="${successMsg}" style="color: green"></p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>时间</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ap,state:${apList}">
                        <td th:text="${state.index+1}"></td>
                        <td th:text="${ap.getStudentId()}"></td>
                        <td th:text="${ap.getStudentName()}"></td>
                        <td th:text="${ap.getApTime()}"></td>
                        <td th:text="${ap.getApType()}"></td>
                        <td th:text="${ap.getApDesc()}"></td>
                        <td>
                            <a class="btn btn-sm btn-danger" th:href="@{/deleteAp/}+${ap.getApId()}"
                               sec:authorize="hasRole('admin')">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>