<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>InsertCourse</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>

<!--顶部导航栏-->
<div th:replace="~{common::topbar}"></div>

<div class="container-fluid">
    <div class="row">

        <!--侧边栏-->
        <div th:replace="~{common::sidebar(active='course')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <form class="pt-3" th:action="@{/insertCourse}" method="post">
                <div class="form-group">
                    <label>课程号</label>
                    <input th:value="${InputCourseId}" type="text" name="courseId" class="form-control"
                           placeholder="Enter courseId" required>
                </div>
                <div class="form-group">
                    <label>课程名</label>
                    <input th:value="${InputCourseName}" type="text" name="courseName" class="form-control"
                           placeholder="Enter CourseName" required>
                </div>
                <div class="form-group">
                    <label>学分</label>
                    <input th:value="${InputCourseCredit}" type="number" name="credit" class="form-control"
                           placeholder="Enter Credit" required>
                </div>
                <p th:text="${errorMsg}" style="color: red"></p>
                <button type="submit" class="btn btn-primary">添加</button>
                <a class="btn btn-secondary" th:href="@{/courseList}">返回</a>
            </form>
        </main>
    </div>
</div>

</body>
</html>
